.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}
.sidebar img{
    width: 30px;
    margin-bottom: 5px;
}
.sidebarBtn{
    background-color: white;
    height: 74px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebarBtn:hover {
    background-color: rgb(218, 218, 218);
    cursor: pointer;
}
.sidebarBtn:active {
    background-color: rgb(255, 255, 255);
    cursor: progress;
}
.sidebarText{
    font-size: 10px;
    font-family: Roboto, Arial;
}