#check-out-form{
    display: none;
    color: black;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    width: 70%;
    height: calc(100vh - 100px);
    max-height: 800px;
    overflow-y: auto;
}
#check-out-form form{
    width: 100%;
}
#check-out-form-inner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
#check-out-form-inner #head{
    background-color: var(--color4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #1C2F36;
}
#check-out-form-inner #head i{
    padding: 5px;
    border-radius: 3px;
    transition: background-color 0.2s ease;
}
#check-out-form-inner #head i:hover{
    background-color: #e7e7e7;;
}
#service-card-checkout-container{
    display: flex;
    gap: 10px;
    width: 100%;
    overflow: auto;
    padding-block: 5px;
}
.service-card-checkout{
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #1C2F36;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 260px;
    overflow: hidden;
    padding: 20px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}
.check-upper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.service-card-checkout:hover,
.payment-card:hover{
    cursor: pointer;
    background-color: #3a5964;
    color: white;
}
.service-card-checkout:active,
.payment-card:active{
    background-color: white;
    color: #1C2F36;
}
#check-out-form p{
    font-size: 0.8rem;
}
#service-selection > h4,
#mid h4,
#payment-method h4,
#card-info h4{
    font-size: 1rem;
}
.service-card-checkout h4{
    font-size: 0.9rem;
}
.price-check{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-check i{
    color: white;
    display: none;
}
.selected-service{
    background-color: #1C2F36;
    color: white;
}
.selected-service > div i{
    display: block;
}
#mid,
#payment-method,
#service-selection,
#card-info{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
#bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#check-out-form input{
    background-color: rgba(225, 225, 225, 0);
    border: 1px solid #1C2F36;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
}
#payment-card-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.payment-card{
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.2s ease;
}
.payment-card > div{
    flex-shrink: 0;
    background-color: rgb(126, 126, 126);
    width: 10px;
    height: 10px;
    border-radius: 10px;
}
.is-toggled{
    background-color: #1C2F36;
    color: white;
}
.is-toggled > div{
    background-color: #ffffff;
}
#card-info-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#info{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
#info-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
}
#info-right{
    border-radius: 10px;
    background-color: #e7e7e7;
    flex: 1;
    height: 350px;
}
#info-right img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
#btn{
    margin-top: 10px;
}
#btn button{
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: white;
    border: 2px solid #1C2F36;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}
#btn button:last-child{
    background-color: #1C2F36;
    color: white;
}
#btn button:last-child:hover{
    background-color: var(--color5);
    border-color: var(--color5);
    color: #1C2F36;
}
#btn button:first-child:hover{
    background-color: #ee2c00;
    border-color: #ee2c00;
    color: white;
}
@media (max-width: 650px) {
    #info{
        flex-direction: column;
    }
}